<h1>NANCY CHANG</h1>
<%=image_tag("me.jpg", :size => "260x360")%>
<p>Hi, my name is Nancy Chang, and I'm from Cupertino, CA. I am currently a senior studying Computer Science.</p>
<p>A couple fun facts about me is that I have a total of six piercings and three tattoos, and I already have ideas for two more tattoos!</p>
<p>I'm most excited about learning how to build my own app from scratch with the support from peers without having to struggle and be intimidated on my own.</p>
